<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
  "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>Maverick</vendor>
  <vendor_url>https://github.com/luiz-nast/maverick</vendor_url>
  <icon_name>io.github.luiz_nast.Maverick</icon_name>
  <action id="io.github.luiz_nast.Maverick.block">
    <description>Update the sites blocked by Maverick</description>
    <description xml:lang="pt_BR">Atualizar os sites bloqueados pelo Maverick</description>
    <message>Authentication is required to change the blocked sites</message>
    <message xml:lang="pt_BR">É preciso autenticar para alterar os sites bloqueados</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/lib/maverick/maverick-blockctl</annotate>
  </action>
</policyconfig>
